#root {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.app-title{
  font-weight: 500;
  text-align: center;
  margin-top: 20vh;
}

.app-subtitle{
  font-weight: 500;
  font-size: 20px;
  color: rgb(80, 80, 80);
  text-align: center;
  margin-top: 1em;
}