@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,900;1,300;1,500&display=swap');

html, body {
  font-family: 'Raleway', sans-serif !important;
  padding: 0px;
  margin: 0px;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: white;
  width: 100vw;
  height: 100vh;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: all 0.2s ease-in-out;
  font-family: 'Raleway', sans-serif !important;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}